"D:\git\python_database_practices\.venv\Include\*.*"
"D:\git\python_database_practices\.venv\Lib\*.*"
"D:\git\python_database_practices\.venv\Scripts\*.*"
"D:\git\python_database_practices\.venv\pyvenv.cfg"
"D:\git\python_database_practices\.vscode\*.*"